In [ ]:
a = (5,2,4)
print(a)
del a
a = (2, 4, 5)

(5, 2, 4)

AttributeError: ignored

In [ ]:
a = 5
b = 2

In [ ]:
a, b = (5, 2)
print(a, b)

5 2

In [ ]:
aTuple = ("Yellow", 5, "Red")
a, b, c = aTuple
print(a)

Yellow

In [ ]:
a = [5, 6, 3]
aTuple = ("orange", [10, [20, 5], 30], a, (5, 15, 25))
print(aTuple[1])
print(aTuple[1][1])
print(aTuple[1][1][0])

[10, [20, 5], 30]
[20, 5]
20

In [ ]:
aTuple[2][1]

6

In [ ]:
a = [5, 6, 3]
aTuple = ("orange", [10, [20, 5], 30], a, (5, 15, 25))
print("Tuple: ", aTuple)
print("List before: ", a)
a[1] = 7
b = [5, 3]
print("List after: ", a)
print("Tuple after: ", aTuple)

Tuple:  ('orange', [10, [20, 5], 30], [5, 6, 3], (5, 15, 25))
List before:  [5, 6, 3]
List after:  [5, 7, 3]
Tuple after:  ('orange', [10, [20, 5], 30], [5, 7, 3], (5, 15, 25))

TypeError: ignored

In [ ]:
a = [5, 6, 3]
# Deep copy
b = a.copy()
a[1] = 7
print(a, b)

[5, 7, 3] [5, 6, 3]

In [ ]:
dict1 = {"key1": 1, "key2": 2}
dict1["key1"] = 7
print(dict1)
dict1["key3"] = 3
print(dict1)

{0: 'zeroval', 'key1': 7, 'key2': 2}
{0: 'zeroval', 'key1': 7, 'key2': 2, 'key3': 3}

In [ ]:
dict1 = {"key1": 1, "key2": 2}
dict2 = {"key2": 2, "key1": 1}
dict1 == dict2

True

In [ ]:
a = [5, 3, 2]
b = [2, 3, 5]
a == b

False

In [ ]:
students = {"name": "Emma", "class": 9, "marks": 75}
print(students["marks"])
students.get("marks")

75

75

In [ ]:
students = {1: {"name": "Emma", "class": 9, "marks": 75}, 2: {"name": "Mike", "class": 9, "marks": 90}}
students[1]["marks"]

75